## Learning objectives
* Students should be able to assess the structure and cleanliness of their dataset, including size and shape of data, number of variables of each type 
* Students should be able to describe their findings, translate results from code to text using Markdown comments in the Jupyter Notebook, and summarize their thought process in a narrative
* Students should be able to modify the raw data to prepare a clean data set -- including copying data, removing or replacing missing and incoherent data, dropping columns, removing duplicates in Pandas and Jupyter -- and explain and justify their decisions in markdown in their Jupyter notebook
* Students should be able to assess whether their data is “Tidy” and identify appropriate steps and write and  execute code to arrange it into a tidy format - including merging, reshaping, subsetting, grouping, sorting, making appropriate new columns  - and explain and justify their decisions in markdown in their Jupyter notebook
* Students should be able to identify several relevant summary measures, illustrate data using appropriate plots, and explain and justify their decisions in markdown in their Jupyter notebook
* Student should assess the summaries and plots and appraise the need for repeated or further analysis, and justify decisions in markdown

# Setting up the notebook

## About Libraries in Python

A library in Python contains a set of tools (called functions) that perform tasks on our data. Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench for use in a project. Once a library is imported, it can be used or called to perform many tasks.

Python doesn’t load all of the libraries available to it by default. We have to add an import statement to our code in order to use library functions. To import a library, we use the syntax `import libraryName`. If we want to give the library a nickname to shorten the command, we can add `as nickNameHere`. An example of importing the pandas library using the common nickname pd is below.

## matplotlib and other plotting libraries

matplotlib is the most widely used Python library for plotting.  We can run it in the notebook using the magic command `%matplotlib inline`.  See [the docs](http://ipython.readthedocs.io/en/stable/interactive/plotting.html) for other options to pass to the magic command.

In this lesson, we will only use matplotlib and seaborn, another package that works in tandem with matplotlib to make nice graphics.  There are a whole range of graphics packages in Python, ranging from basic visualizations to fancy, interactive graphics like [bokeh](http://bokeh.pydata.org/en/latest/) and [plotly](https://plot.ly/python/).  

We encourage you to explore on your own!  Chances are, if you can imagine a plot you'd like to make, somebody else has written a package to do it.

## The Pandas Library

One of the best options for working with tabular data in Python is to use the Python Data Analysis Library (a.k.a. Pandas). The Pandas library provides data structures, produces high quality plots with matplotlib and integrates nicely with other libraries that use NumPy (which is another Python library) arrays.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Each time we call a function that’s in a library, we use the syntax `LibraryName.FunctionName`. Adding the library name with a `.` before the function name tells Python where to find the function. In the example above, we have imported Pandas as `pd`. This means we don’t have to type out pandas each time we call a Pandas function.

We will begin by locating and reading our data which are in a table format. We can use Pandas’ `read_table` function to pull the file directly into a DataFrame.

# Getting data into the notebook

## What’s a DataFrame?
A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. It is similar to a spreadsheet or an SQL table or the data.frame in R. A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure.

Note that we use `pd.read_table`, not just `read_table` or `pandas.read_table`, because we imported pandas as pd.

The columns in the data set are separated by a TAB. We need to tell the `read_table` function in Pandas that that is the case with `sep = ‘\t’`.

The first thing to do when loading data into the notebook is to actually look at it.  How many rows and columns are there?  What types of variables are in it and what values can they take?

There are usually too many rows to print to the screen.  By default, when you type the name of the dataframe and run a cell, Pandas knows not to print the whole thing.  Instead, you will see the first and last few rows with dots in between.  A neater way to view a preview of the dataset is the `head()` method.  Calling `dataset.head()` will displace the first 5 rows of the data.  You can specify how many rows you want to see as an argument, like `dataset.head(10)`.  The `tail()` method does the same with the last rows of the dataframe.

In [2]:
url = "https://raw.githubusercontent.com/Reproducible-Science-Curriculum/data-exploration-RR-Jupyter/master/gapminderDataFiveYear_superDirty.txt"
gapminder = pd.read_table(url, sep = "\t")
gapminder.head()

     year         pop  life Exp   gdpPercap            region
0  1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
2  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
3  1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
4  1962.0         NaN    31.997         NaN  Asia_Afghanistan

# Assess the structure and cleanliness


## How many rows and columns are in the data?
We often want to know how many rows and columns are in the data  --  we want to know what is called the "shape" attribute of the data frame. Pandas has a convenient way for getting that information by using the `DataFrame.shape` (using DataFrame as a generic name for a, well, data frame). This returns a tuple (values separated by commas) representing the dimensions of the DataFrame (rows, columns).<p>
To get the shape of the gapminder data frame:

In [3]:
gapminder.shape

(1720, 5)

The `info()` method gives a few useful pieces of information, including the shape of the dataframe, the variable type of each column, and the amount of memory stored.

The output from info() shows that the fields ‘year’ and ‘pop’ (population) are represented as ‘float’ (that is: numbers with a decimal point). This is not appropriate: year and population should be integers or whole numbers. We can change the data-type with the function astype().

In [4]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720 entries, 0 to 1719
Data columns (total 5 columns):
year         1717 non-null float64
pop          1715 non-null float64
life Exp     1719 non-null float64
gdpPercap    1718 non-null float64
region       1720 non-null object
dtypes: float64(4), object(1)
memory usage: 67.3+ KB

In [5]:
#gapminder['year'] = gapminder['year'].astype(int)
#gapminder['pop'] = gapminder['pop'].astype(int)
#gapminder.info()

The `describe()` method will take the numeric columns and give a summary of their values. This is useful for getting a sense of the ranges of values and seeing if there are any unusual or suspicious numbers.

In [6]:
gapminder.describe()

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              year           pop     life Exp      gdpPercap
count  1717.000000  1.715000e+03  1719.000000    1718.000000
mean   1979.449039  2.954973e+07    59.436493    7208.452200
std      17.228189  1.058366e+08    12.931041    9838.590984
min    1952.000000  6.001100e+04    23.599000     241.165877
25%            NaN           NaN          NaN            NaN
50%            NaN           NaN          NaN            NaN
75%            NaN           NaN          NaN            NaN
max    2007.000000  1.318683e+09    82.603000  113523.132900

The DataFrame function describe() just blindly looks at all numeric variables. We wouldn't actually want to take the mean year. Additionally, we obtain ‘NaN’ values for our quartiles. This suggests we might have missing data which we can (and will) deal with shortly when we begin to clean our data.

For now, let's pull out only the columns that are truly continuous numbers (i.e. ignore the description for ‘year’). This is a preview of selection columns of the data; we'll talk more about how to do it later in the lesson.

In [7]:
gapminder[['pop', 'life Exp', 'gdpPercap']].describe()

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

                pop     life Exp      gdpPercap
count  1.715000e+03  1719.000000    1718.000000
mean   2.954973e+07    59.436493    7208.452200
std    1.058366e+08    12.931041    9838.590984
min    6.001100e+04    23.599000     241.165877
25%             NaN          NaN            NaN
50%             NaN          NaN            NaN
75%             NaN          NaN            NaN
max    1.318683e+09    82.603000  113523.132900

The command value_counts() gives you a first global idea of your categorical data such as strings. In this case that is the column `region`.
The table reveals some problems. The data set covers 12 years, so each ‘region’ should appear 12 times.

In [8]:
print(len(gapminder['region'].unique())) # How many unique regions are in the data?
gapminder['region'].value_counts() # How many times does each unique region occur?

151

Europe_Netherlands                         15
Americas_Bolivia                           14
Americas_Dominican Republic                14
Asia_Afghanistan                           14
Americas_Argentina                         13
Asia_Bangladesh                            13
Africa_Algeria                             13
Asia_West Bank and Gaza                    13
Africa_Burundi                             13
Africa_Nigeria                             13
Africa_Uganda                              12
Asia_Iran                                  12
Asia_Yemen, Rep.                           12
Americas_Guatemala                         12
Africa_Angola                              12
Africa_Tanzania                            12
Americas_Panama                            12
Africa_Zimbabwe                            12
Africa_Ghana                               12
Asia_Mongolia                              12
Africa_Lesotho                             12
Europe_Romania                             12
Europe_Portugal                            12
Asia_Iraq                                  12
Asia_Indonesia                             12
Africa_Somalia                             12
Europe_Croatia                             12
Asia_Malaysia                              12
Africa_Congo, Rep.                         12
Americas_Peru                              12
                                           ..
Africa_Djibouti                            12
Europe_Greece                              12
Oceania_Australia                          12
Africa_Liberia                             12
Asia_Singapore                             12
Europe_Ireland                             12
Africa_Senegal                             12
Africa_Rwanda                              12
Africa_Gabon                               12
Europe_Poland                              12
Europe_Germany                             12
Asia_Saudi Arabia                          12
Europe_Bulgaria                            12
Americas_Colombia                          11
Asia_Jordan                                11
Africa_Cote d'Ivoire                       11
Asia_Korea, Dem. Rep.                      10
Africa_Congo, Dem. Rep.                    10
Americas_Canada                             9
Asia_China                                  8
Africa_Central African Republic             8
Asia_china                                  4
Africa_Central african republic             4
_Canada                                     3
Americas_Colombia                           2
    Asia_Korea, Dem. Rep.                   2
Africa_Cote d'Ivore                         1
Africa_Democratic Republic of the Congo     1
    Asia_Jordan                             1
Africa_Congo, Democratic Republic           1
Name: region, dtype: int64

We also see inconsistencies (string variables are very susceptible to those), for instance:

Asia_china	vs. Asia_China

Another type of problem is the various names of Congo. In order to analyze this dataset appropriately we need to take care of these issues. We also see that there are a few regions that occur more than 12 times.  We will address them in the next section on data cleaning.

# Data cleaning


## Handling Missing Data

Missing data is an important issue to handle. Ignoring it doesn't make it go away. There are different ways of dealing with missing data which include:

* analyzing only the available data (i.e. ignore the missing data)
* input the missing data with replacement values and treating these as though they were observed
* input the missing data and account for the fact that these were inputed with uncertainty (ex: create a new boolean variable so you know that these values were not actually observed)
* use statistical models to allow for missing data--make assumptions about their relationships with the available data as necessary

For our purposes with the dirty gapminder data set, we know our missing data is excess (and unnecessary) and we are going to choose to analyze only the available data. To do this, we will simply remove rows with missing values.

This is incredibly easy to do because pandas allows you to either remove all instances will null data or replace them with a particular value.

`df = df.dropna()` drops rows with any column having NA/null data.  `df = df.fillna(value)` replaces all NA/null data with the argument `value`.

In [9]:
gapminder = gapminder.dropna()
gapminder.head()

     year         pop  life Exp   gdpPercap            region
0  1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
2  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
3  1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
5  1967.0  11537966.0    34.020  836.197138  Asia_Afghanistan

## Handling (Unwanted) Repetitive Data
You can identify which observations are duplicates.
The call `df.duplicated()` will return boolean values for each row in the DataFrame telling you whether or not a row is repetitive.

In cases where you don’t want repetitive values (we wouldn’t--we only want each country to be represented once for every relevant year), you can easily drop such duplicate rows with the call `df.drop_duplicates()`.

In [10]:
gapminder.duplicated().head() #shows we have a repetition in the first 5 rows

0    False
1    False
2     True
3    False
5    False
dtype: bool

In [11]:
gapminder = gapminder.drop_duplicates()
gapminder.head()

     year         pop  life Exp   gdpPercap            region
0  1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
3  1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
5  1967.0  11537966.0    34.020  836.197138  Asia_Afghanistan
6  1972.0  13079460.0    36.088  739.981106  Asia_Afghanistan

### Reindexing with reset_index()
Now we have 1704 rows, but our indexes are off. We can reset our indices easily with the call reset_index(drop=True). Remember, Python is 0-indexed so our indices will be valued 0-1703.

The concept of reindexing is important. When we removed some of the messier, unwanted data, we had "gaps" in our index values. By correcting this, we can improve our search functionality and our ability to perform iterative functions on our cleaned data set.

In [12]:
gapminder = gapminder.reset_index(drop=True)
gapminder.head()

     year         pop  life Exp   gdpPercap            region
0  1952.0   8425333.0    28.801  779.445314  Asia_Afghanistan
1  1957.0   9240934.0    30.332  820.853030  Asia_Afghanistan
2  1962.0  10267083.0    31.997  853.100710  Asia_Afghanistan
3  1967.0  11537966.0    34.020  836.197138  Asia_Afghanistan
4  1972.0  13079460.0    36.088  739.981106  Asia_Afghanistan


## Handling Inconsistent Data

The `region` column is a bit too messy for what we'd like to do.
The `value_counts()` operation above revealed some issues.

### String manipulations

Very common problems with string variables are  lingering white space and upper case vs. lower case.
The following three commands remove all such trailing spaces (left and right) and put everything in lowercase. If you prefer, the three commands can be written in one single line (concept: chaining).

In [13]:
gapminder['region'] = gapminder['region'].str.lstrip() # Strip white space on left
gapminder['region'] = gapminder['region'].str.rstrip() # Strip white space on right
gapminder['region'] = gapminder['region'].str.lower() # Convert to lowercase
gapminder['region'].value_counts() # How many times does each unique region occur?

# We could have done this in one line!
# gapminder['region'] = gapminder['region'].str.lstrip().str.rstrip().lower()

europe_spain                               12
asia_nepal                                 12
europe_switzerland                         12
europe_sweden                              12
africa_botswana                            12
europe_denmark                             12
africa_sao tome and principe               12
asia_hong kong, china                      12
asia_jordan                                12
americas_venezuela                         12
africa_senegal                             12
africa_eritrea                             12
africa_lesotho                             12
americas_uruguay                           12
oceania_australia                          12
americas_guatemala                         12
africa_tanzania                            12
europe_hungary                             12
asia_iran                                  12
americas_argentina                         12
asia_afghanistan                           12
americas_ecuador                           12
oceania_new zealand                        12
africa_congo, rep.                         12
africa_mali                                12
africa_zimbabwe                            12
africa_chad                                12
africa_nigeria                             12
africa_tunisia                             12
europe_montenegro                          12
                                           ..
africa_comoros                             12
africa_burundi                             12
africa_togo                                12
africa_mozambique                          12
asia_bahrain                               12
europe_italy                               12
europe_slovenia                            12
africa_equatorial guinea                   12
africa_angola                              12
europe_czech republic                      12
europe_united kingdom                      12
africa_central african republic            12
africa_ghana                               12
europe_bulgaria                            12
americas_paraguay                          12
americas_nicaragua                         12
africa_swaziland                           12
americas_puerto rico                       12
americas_honduras                          12
asia_iraq                                  12
asia_yemen, rep.                           12
asia_korea, dem. rep.                      12
americas_united states                     12
africa_cote d'ivoire                       11
africa_congo, dem. rep.                    10
americas_canada                             9
_canada                                     3
africa_democratic republic of the congo     1
africa_congo, democratic republic           1
africa_cote d'ivore                         1
Name: region, dtype: int64

### regex + replace()

A regular expression, aka regex, is a sequence of characters that define a search pattern. In a regular expression, the symbol “*” matches the preceding character 0 or more times, whereas “+” matches the preceding character 1 or more times. “.” matches any single character. Writing “x|y” means to match either ‘x’ or ‘y’.

For more regex shortcuts (cheatsheet): https://www.shortcutfoo.com/app/dojos/regex/cheatsheet

Pandas allows you to use regex in its replace() function -- when a regex term is found in an element, the element is then replaced with the specified replacement term. In order for it to appropriately correct elements, both regex and inplace variables need to be set to True (as their defaults are false). This ensures that the initial input string is read as a regular expression and that the elements will be modified in place.

For more documentation on the replace method: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html

Here's an incorrect regex example: we create a temporary DataFrame in which a regex pulls all values that contain the term “congo”. Unfortunately, this creates 24 instances of the Democratic Republic of the Congo -- this is an error in our cleaning! We can revert back to the non-temporary DataFrame and correctly modify our regex to isolate only the Democratic Republic instances (as opposed to including the Republic as well).

In [14]:
# This gives a problem -- 24 values of the congo!
temp = gapminder['region'].replace(".*congo.*", "africa_dem rep congo", regex=True)
temp.value_counts()

africa_dem rep congo               24
europe_spain                       12
asia_jordan                        12
europe_sweden                      12
africa_botswana                    12
europe_denmark                     12
africa_sao tome and principe       12
asia_hong kong, china              12
asia_nepal                         12
africa_senegal                     12
africa_tanzania                    12
africa_eritrea                     12
africa_lesotho                     12
americas_uruguay                   12
oceania_australia                  12
americas_guatemala                 12
europe_switzerland                 12
americas_venezuela                 12
asia_oman                          12
americas_argentina                 12
africa_morocco                     12
asia_afghanistan                   12
americas_ecuador                   12
oceania_new zealand                12
africa_mali                        12
africa_zimbabwe                    12
africa_chad                        12
europe_hungary                     12
africa_tunisia                     12
africa_reunion                     12
                                   ..
europe_france                      12
asia_pakistan                      12
asia_syria                         12
africa_comoros                     12
africa_burundi                     12
africa_togo                        12
africa_mozambique                  12
americas_el salvador               12
asia_bahrain                       12
europe_croatia                     12
africa_equatorial guinea           12
europe_czech republic              12
americas_united states             12
asia_korea, dem. rep.              12
asia_yemen, rep.                   12
asia_iraq                          12
americas_honduras                  12
americas_puerto rico               12
africa_angola                      12
asia_mongolia                      12
americas_paraguay                  12
europe_bulgaria                    12
africa_ghana                       12
africa_central african republic    12
europe_united kingdom              12
americas_jamaica                   12
africa_cote d'ivoire               11
americas_canada                     9
_canada                             3
africa_cote d'ivore                 1
Name: region, dtype: int64

In [15]:
# What happened? This shows all the rows that have congo in the name.
gapminder[gapminder["region"].str.contains('congo')]

,year,pop,life Exp,gdpPercap,region
324,1952.0,14100005.0,39.143,780.542326,"africa_congo, dem. rep."
325,1957.0,15577932.0,40.652,905.860230,"africa_congo, dem. rep."
326,1962.0,17486434.0,42.122,896.314634,"africa_congo, dem. rep."
327,1967.0,19941073.0,44.056,861.593242,"africa_congo, dem. rep."
328,1972.0,23007669.0,45.989,904.896069,africa_democratic republic of the congo
329,1977.0,26480870.0,47.804,795.757282,"africa_congo, dem. rep."
330,1982.0,30646495.0,47.784,673.747818,"africa_congo, dem. rep."
331,1987.0,35481645.0,47.412,672.774812,"africa_congo, dem. rep."
332,1992.0,41672143.0,45.548,457.719181,"africa_congo, dem. rep."
333,1997.0,47798986.0,42.587,312.188423,"africa_congo, democratic republic"
334,2002.0,55379852.0,44.966,241.165877,"africa_congo, dem. rep."
335,2007.0,64606759.0,46.462,277.551859,"africa_congo, dem. rep."
336,1952.0,854885.0,42.111,2125.621418,"africa_congo, rep."
337,1957.0,940458.0,45.053,2315.056572,"africa_congo, rep."
338,1962.0,1047924.0,48.435,2464.783157,"africa_congo, rep."
339,1967.0,1179760.0,52.040,2677.939642,"africa_congo, rep."
340,1972.0,1340458.0,54.907,3213.152683,"africa_congo, rep."
341,1977.0,1536769.0,55.625,3259.178978,"africa_congo, rep."
342,1982.0,1774735.0,56.695,4879.507522,"africa_congo, rep."
343,1987.0,2064095.0,57.470,4201.194937,"africa_congo, rep."
344,1992.0,2409073.0,56.433,4016.239529,"africa_congo, rep."
345,1997.0,2800947.0,52.962,3484.164376,"africa_congo, rep."
346,2002.0,3328795.0,52.970,3484.061970,"africa_congo, rep."
347,2007.0,3800610.0,55.322,3632.557798,"africa_congo, rep."

### Using regex to fix the Congo...

As noted above, regular expressions (often simply "regex") provide a powerful 
tool for fixing errors that arise in strings. In order to correctly label the 
two different countries that include the word "congo", we need to design and
use (via `pd.df.replace()`) a regex that correctly differentiates between the
two countries.

Recall that the "." is the wildcard (matching any single character); combining 
this with "*" allows us to match any number of single characters an unspecified 
number of times. By combining these characters with substrings corresponding to
variations in the naming of the Democratic Republic of the Congo, we can
correctly normalize the name.

If you feel that the use of regex is not particularly straightforward, you are
correct -- appropriately using these tools takes a great deal of time to master.
When designing regex for these sorts of tasks, you might find the following
prototyper helpful: https://regex101.com/

In [16]:
gapminder['region'].replace(".*congo, dem.*", "africa_dem rep congo", regex=True, inplace=True)
gapminder['region'].replace(".*_democratic republic of the congo", "africa_dem rep congo", regex=True, inplace=True)
gapminder['region'].value_counts() # Now it's fixed.

europe_spain                       12
asia_jordan                        12
europe_sweden                      12
africa_botswana                    12
europe_denmark                     12
africa_sao tome and principe       12
asia_hong kong, china              12
asia_nepal                         12
africa_senegal                     12
africa_tanzania                    12
africa_eritrea                     12
africa_lesotho                     12
americas_uruguay                   12
oceania_australia                  12
americas_guatemala                 12
africa_dem rep congo               12
europe_switzerland                 12
americas_venezuela                 12
asia_oman                          12
americas_argentina                 12
asia_afghanistan                   12
americas_ecuador                   12
oceania_new zealand                12
africa_congo, rep.                 12
africa_mali                        12
africa_zimbabwe                    12
africa_chad                        12
europe_hungary                     12
africa_tunisia                     12
africa_reunion                     12
                                   ..
europe_austria                     12
africa_comoros                     12
africa_equatorial guinea           12
africa_burundi                     12
africa_togo                        12
africa_mozambique                  12
americas_el salvador               12
asia_bahrain                       12
europe_italy                       12
europe_croatia                     12
europe_czech republic              12
asia_mongolia                      12
asia_syria                         12
asia_korea, dem. rep.              12
americas_colombia                  12
asia_yemen, rep.                   12
asia_iraq                          12
americas_honduras                  12
americas_puerto rico               12
africa_angola                      12
americas_united states             12
americas_paraguay                  12
europe_bulgaria                    12
africa_ghana                       12
africa_central african republic    12
europe_united kingdom              12
africa_cote d'ivoire               11
americas_canada                     9
_canada                             3
africa_cote d'ivore                 1
Name: region, dtype: int64

### Exercise (regex):

Now that we've taken a close look at how to properly design and use regex to
clean string entries in our data, let's try to normalize the naming of a few
other countries. Using the pandas code we constructed above as a template,
construct similar code (using `pd.df.replace()`) to set the naming of the Ivory
Coast and Canada to "africa_cote d'ivoire" and "americas_canada", respectively.

In [17]:
gapminder['region'].replace(".*ivore.*", "africa_cote d'ivoire", regex=True, inplace=True)
gapminder['region'].replace("^_canada", "americas_canada", regex=True, inplace=True)
gapminder['region'].value_counts()

europe_spain                       12
asia_nepal                         12
europe_switzerland                 12
europe_sweden                      12
africa_botswana                    12
europe_denmark                     12
africa_sao tome and principe       12
asia_hong kong, china              12
africa_senegal                     12
americas_venezuela                 12
africa_eritrea                     12
africa_lesotho                     12
americas_uruguay                   12
oceania_australia                  12
americas_guatemala                 12
africa_dem rep congo               12
africa_tanzania                    12
europe_hungary                     12
asia_iraq                          12
africa_zimbabwe                    12
africa_morocco                     12
asia_afghanistan                   12
americas_ecuador                   12
oceania_new zealand                12
africa_congo, rep.                 12
africa_mali                        12
americas_argentina                 12
africa_nigeria                     12
africa_chad                        12
africa_tunisia                     12
                                   ..
asia_china                         12
europe_finland                     12
asia_japan                         12
europe_france                      12
asia_pakistan                      12
americas_panama                    12
africa_comoros                     12
africa_burundi                     12
africa_togo                        12
africa_mozambique                  12
americas_el salvador               12
asia_bahrain                       12
africa_equatorial guinea           12
europe_czech republic              12
americas_united states             12
asia_korea, dem. rep.              12
asia_yemen, rep.                   12
asia_jordan                        12
americas_honduras                  12
americas_puerto rico               12
africa_angola                      12
asia_mongolia                      12
americas_paraguay                  12
europe_bulgaria                    12
africa_ghana                       12
africa_central african republic    12
europe_united kingdom              12
asia_syria                         12
americas_colombia                  12
africa_libya                       12
Name: region, dtype: int64

## Tidy data

Having what is called a _Tidy_ data set can make cleaning your data much easier. Two of the important aspects of Tidy data are:
* every variable has its own column
* every observation has its own row

(there are other aspects of Tidy data, here is a good blog post about Tidy data in Python: http://www.jeannicholashould.com/tidy-data-in-python.html)

Currently the dataset has a single column for continent and country (the ‘region’ column). We can split that column into two, by using the underscore that separates continent from country.
We can create a new column in the DataFrame by naming it before the = sign:
`gapminder['country'] = `

The following commands use the function split() to split the string at the underscore (the first argument), which results in a list of two elements: before and after the \_. The second argument tells split() that the split should take place only at the first occurrence of the underscore.

In [18]:
gapminder['country']=gapminder['region'].str.split('_', 1).str[1]
gapminder['continent']=gapminder['region'].str.split('_', 1).str[0]
gapminder.head()

,year,pop,life Exp,gdpPercap,region,country,continent
0,1952.0,8425333.0,28.801,779.445314,asia_afghanistan,afghanistan,asia
1,1957.0,9240934.0,30.332,820.853030,asia_afghanistan,afghanistan,asia
2,1962.0,10267083.0,31.997,853.100710,asia_afghanistan,afghanistan,asia
3,1967.0,11537966.0,34.020,836.197138,asia_afghanistan,afghanistan,asia
4,1972.0,13079460.0,36.088,739.981106,asia_afghanistan,afghanistan,asia

### Removing and renaming columns

We have now added the columns `country` and `continent`, but we still have the old `region` column as well. In order to remove that column we use the `drop()` command. The first argument of the drop() command is the name of the element to be dropped. The second argument is the *axis* number: 0 for row, 1 for column.

In [19]:
gapminder = gapminder.drop('region', 1)
gapminder.head()

     year         pop  life Exp   gdpPercap      country continent
0  1952.0   8425333.0    28.801  779.445314  afghanistan      asia
1  1957.0   9240934.0    30.332  820.853030  afghanistan      asia
2  1962.0  10267083.0    31.997  853.100710  afghanistan      asia
3  1967.0  11537966.0    34.020  836.197138  afghanistan      asia
4  1972.0  13079460.0    36.088  739.981106  afghanistan      asia

Finally, it is a good idea to look critically at your column names. Use lowercase for all column names to avoid confusing `gdppercap` with `gdpPercap` or `GDPpercap`. Avoid spaces in column names to simplify manipulating your data - look out for lingering white space at the beginning or end of your column names. The following code turns all column names to lowercase.

In [20]:
gapminder.columns = gapminder.columns.str.lower()
gapminder.head()

     year         pop  life exp   gdppercap      country continent
0  1952.0   8425333.0    28.801  779.445314  afghanistan      asia
1  1957.0   9240934.0    30.332  820.853030  afghanistan      asia
2  1962.0  10267083.0    31.997  853.100710  afghanistan      asia
3  1967.0  11537966.0    34.020  836.197138  afghanistan      asia
4  1972.0  13079460.0    36.088  739.981106  afghanistan      asia

We also want to remove the space from the `life exp` column name. We can do that with Pandas `rename` method. It takes a dictionary as its argument, with the old column names as keys and new column names as values.

If you're unfamiliar with dictionaries, they are a very useful data structure in Python.  You can read more about them [here](https://docs.python.org/3/tutorial/datastructures.html#dictionaries).

In [21]:
gapminder = gapminder.rename(columns={'life exp' : 'lifeexp'})
gapminder.head()

     year         pop  lifeexp   gdppercap      country continent
0  1952.0   8425333.0   28.801  779.445314  afghanistan      asia
1  1957.0   9240934.0   30.332  820.853030  afghanistan      asia
2  1962.0  10267083.0   31.997  853.100710  afghanistan      asia
3  1967.0  11537966.0   34.020  836.197138  afghanistan      asia
4  1972.0  13079460.0   36.088  739.981106  afghanistan      asia

## Merging data

Often we have more than one data frame that contains parts of our data set and we want to put them together. This is known as merging the data.

Our advisor now wants us to add a new country called The People's Republic of Berkeley to the gapminder data set that we have cleaned up. Our goal is to get this new data into the same data frame in the same format as the gapminder data and, in this case, we want to concatenate (add) it onto the end of the gapminder data.

Concatentating is a simple form of merging, there are many useful (and more complicated) ways to merge data.  If you are interested in more information, the [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html) is useful.

In [22]:
PRB = pd.read_table('https://raw.githubusercontent.com/Reproducible-Science-Curriculum/data-exploration-RR-Jupyter/master/PRB_data.txt', sep = "\t")
PRB.head()

   year     pop  lifeExp  gdpPercap                                 region
0  1952  113805    66.75   779.6780  Americas_Peoples Republic of Berkeley
1  1957  114077    67.96   821.2960  Americas_Peoples Republic of Berkeley
2  1962  111268    71.11   857.2354  Americas_Peoples Republic of Berkeley
3  1967  114785    72.03   838.1382  Americas_Peoples Republic of Berkeley
4  1972  116716    72.67   737.1058  Americas_Peoples Republic of Berkeley

In [23]:
## make this into an exercise
## bring in PRB data (no major problems) and make it conform to the gapminder at this point
# our version...
# clean the data to look like the current gapminder

PRB['country']=PRB['region'].str.split('_', 1).str[1].str.lower()
PRB['continent']=PRB['region'].str.split('_', 1).str[0].str.lower()
PRB = PRB.drop('region', 1)
PRB.columns = PRB.columns.str.lower()
PRB = PRB.rename(columns={'life exp' : 'lifeexp'})
PRB.head()

   year     pop  lifeexp  gdppercap                       country continent
0  1952  113805    66.75   779.6780  peoples republic of berkeley  americas
1  1957  114077    67.96   821.2960  peoples republic of berkeley  americas
2  1962  111268    71.11   857.2354  peoples republic of berkeley  americas
3  1967  114785    72.03   838.1382  peoples republic of berkeley  americas
4  1972  116716    72.67   737.1058  peoples republic of berkeley  americas

In [24]:
# double check that the gapminder is the same
gapminder.head()

     year         pop  lifeexp   gdppercap      country continent
0  1952.0   8425333.0   28.801  779.445314  afghanistan      asia
1  1957.0   9240934.0   30.332  820.853030  afghanistan      asia
2  1962.0  10267083.0   31.997  853.100710  afghanistan      asia
3  1967.0  11537966.0   34.020  836.197138  afghanistan      asia
4  1972.0  13079460.0   36.088  739.981106  afghanistan      asia

In [25]:
# combine the data sets with concat
gapminder_comb = pd.concat([gapminder, PRB])
gapminder_comb.tail(15)

,year,pop,lifeexp,gdppercap,country,continent
1701,1997.0,11404948.0,46.809,792.449960,zimbabwe,africa
1702,2002.0,11926563.0,39.989,672.038623,zimbabwe,africa
1703,2007.0,12311143.0,43.487,469.709298,zimbabwe,africa
0,1952.0,113805.0,66.750,779.678000,peoples republic of berkeley,americas
1,1957.0,114077.0,67.960,821.296000,peoples republic of berkeley,americas
2,1962.0,111268.0,71.110,857.235400,peoples republic of berkeley,americas
3,1967.0,114785.0,72.030,838.138200,peoples republic of berkeley,americas
4,1972.0,116716.0,72.670,737.105800,peoples republic of berkeley,americas
5,1977.0,116370.0,73.710,785.133600,peoples republic of berkeley,americas
6,1982.0,104429.0,74.560,980.038800,peoples republic of berkeley,americas
7,1987.0,102351.0,75.960,851.944800,peoples republic of berkeley,americas
8,1992.0,103328.0,76.950,649.395200,peoples republic of berkeley,americas
9,1997.0,102724.0,78.910,636.343500,peoples republic of berkeley,americas
10,2002.0,102743.0,79.070,726.734000,peoples republic of berkeley,americas
11,2007.0,112580.0,80.030,979.338400,peoples republic of berkeley,americas

Now that the data frames have been concatenated, notice that the index is funky. It repeats the numbers 0 - 11 in the `peoples republic of berkeley data`. <p>
as an **exercise** fix the index.

In [26]:
# our code for fixing index
gapminder_comb = gapminder_comb.reset_index(drop=True)
gapminder_comb.head()

     year         pop  lifeexp   gdppercap      country continent
0  1952.0   8425333.0   28.801  779.445314  afghanistan      asia
1  1957.0   9240934.0   30.332  820.853030  afghanistan      asia
2  1962.0  10267083.0   31.997  853.100710  afghanistan      asia
3  1967.0  11537966.0   34.020  836.197138  afghanistan      asia
4  1972.0  13079460.0   36.088  739.981106  afghanistan      asia

## Referencing objects vs copying objects
Suppose you take a subset of your data and store it in a new variable, like `gapminder_early = gapminder[gapminder['year'] < 1970]`.  Doing this does not actually create a new object. Instead, you have just given a name to that subset of the original data: gapminder_early points to those rows of gapminder.  Any changes you make to the new dataframe gapminder_early will appear in the corresponding rows of gapminder too.  

Often, you want to leave the original data untouched.  To avoid this problem, you can make a copy of your data before operating on a subset of the data.  This will ensure that one version of the original data is preserved.  For instance:

<font color='red'>**TO DO:** this example doesn't actually illustrate the problem :(</font>

In [27]:
gapminder_copy = gapminder.copy()
gapminder_early = gapminder_copy[gapminder_copy['year'] < 1970]
gapminder_early['pop'] = 0
#print(gapminder_copy[gapminder_copy['year'] < 1970].head())
#print(gapminder[gapminder['year'] < 1970].head())

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

## Subsetting and sorting

There are many ways in which you can manipulate a Pandas DataFrame - here we will discuss only only two: subsetting and sorting.

We can subset (or slice) by giving the numbers of the rows you want to see between square brackets:

In [28]:
gapminder[0:15]

      year         pop  lifeexp    gdppercap      country continent
0   1952.0   8425333.0   28.801   779.445314  afghanistan      asia
1   1957.0   9240934.0   30.332   820.853030  afghanistan      asia
2   1962.0  10267083.0   31.997   853.100710  afghanistan      asia
3   1967.0  11537966.0   34.020   836.197138  afghanistan      asia
4   1972.0  13079460.0   36.088   739.981106  afghanistan      asia
5   1977.0  14880372.0   38.438   786.113360  afghanistan      asia
6   1982.0  12881816.0   39.854   978.011439  afghanistan      asia
7   1987.0  13867957.0   40.822   852.395945  afghanistan      asia
8   1992.0  16317921.0   41.674   649.341395  afghanistan      asia
9   1997.0  22227415.0   41.763   635.341351  afghanistan      asia
10  2002.0  25268405.0   42.129   726.734055  afghanistan      asia
11  2007.0  31889923.0   43.828   974.580338  afghanistan      asia
12  1952.0   1282697.0   55.230  1601.056136      albania    europe
13  1957.0   1476505.0   59.280  1942.284244      albania    europe
14  1962.0   1728137.0   64.820  2312.888958      albania    europe

In [29]:
gapminder[:15]

      year         pop  lifeexp    gdppercap      country continent
0   1952.0   8425333.0   28.801   779.445314  afghanistan      asia
1   1957.0   9240934.0   30.332   820.853030  afghanistan      asia
2   1962.0  10267083.0   31.997   853.100710  afghanistan      asia
3   1967.0  11537966.0   34.020   836.197138  afghanistan      asia
4   1972.0  13079460.0   36.088   739.981106  afghanistan      asia
5   1977.0  14880372.0   38.438   786.113360  afghanistan      asia
6   1982.0  12881816.0   39.854   978.011439  afghanistan      asia
7   1987.0  13867957.0   40.822   852.395945  afghanistan      asia
8   1992.0  16317921.0   41.674   649.341395  afghanistan      asia
9   1997.0  22227415.0   41.763   635.341351  afghanistan      asia
10  2002.0  25268405.0   42.129   726.734055  afghanistan      asia
11  2007.0  31889923.0   43.828   974.580338  afghanistan      asia
12  1952.0   1282697.0   55.230  1601.056136      albania    europe
13  1957.0   1476505.0   59.280  1942.284244      albania    europe
14  1962.0   1728137.0   64.820  2312.888958      albania    europe

In [30]:
gapminder[-10:]

        year         pop  lifeexp   gdppercap   country continent
1694  1962.0   4277736.0   52.358  527.272182  zimbabwe    africa
1695  1967.0   4995432.0   53.995  569.795071  zimbabwe    africa
1696  1972.0   5861135.0   55.635  799.362176  zimbabwe    africa
1697  1977.0   6642107.0   57.674  685.587682  zimbabwe    africa
1698  1982.0   7636524.0   60.363  788.855041  zimbabwe    africa
1699  1987.0   9216418.0   62.351  706.157306  zimbabwe    africa
1700  1992.0  10704340.0   60.377  693.420786  zimbabwe    africa
1701  1997.0  11404948.0   46.809  792.449960  zimbabwe    africa
1702  2002.0  11926563.0   39.989  672.038623  zimbabwe    africa
1703  2007.0  12311143.0   43.487  469.709298  zimbabwe    africa

### Exercise

What does the negative number (in the third cell) mean? What happens when you leave the space before or after the colon empty?

Subsetting can also be done by selecting for a particular value in a column; for instance select the rows that have ‘africa’ in the column ‘continent. Note the double equal sign: single equal signs are used in Python to assign something to a variable. The double equal sign is a comparison: the variable to the left has to be exactly equal to the string to the right.

**to do: are there other ways of subsetting that we want to talk about? .loc/.iloc with data frames**

In [31]:
gapminder_africa = gapminder[gapminder['continent']=='africa']
gapminder_africa.head()

      year         pop  lifeexp    gdppercap  country continent
24  1952.0   9279525.0   43.077  2449.008185  algeria    africa
25  1957.0  10270856.0   45.685  3013.976023  algeria    africa
26  1962.0  11000948.0   48.303  2550.816880  algeria    africa
27  1967.0  12760499.0   51.407  3246.991771  algeria    africa
28  1972.0  14760787.0   54.518  4182.663766  algeria    africa

Sorting may help to further organize and inspect your data. The command sort_values() takes a number of arguments; the most important ones are `by` and `ascending.` The following command will sort your DataFrame by year, beginning with the most recent.

In [32]:
gapminder.sort_values(by='year', ascending = False)

,year,pop,lifeexp,gdppercap,country,continent
1703,2007.0,1.231114e+07,43.487,469.709298,zimbabwe,africa
491,2007.0,5.512010e+05,51.579,12154.089750,equatorial guinea,africa
515,2007.0,7.651189e+07,52.947,690.805576,ethiopia,africa
527,2007.0,5.238460e+06,79.313,33207.084400,finland,europe
539,2007.0,6.108392e+07,80.657,30470.016700,france,europe
551,2007.0,1.454867e+06,56.735,13206.484520,gabon,africa
563,2007.0,1.688359e+06,59.448,752.749726,gambia,africa
575,2007.0,8.240100e+07,79.406,32170.374420,germany,europe
1655,2007.0,8.526236e+07,74.249,2441.576404,vietnam,asia
587,2007.0,2.287334e+07,60.022,1327.608910,ghana,africa
599,2007.0,1.070629e+07,79.483,27538.411880,greece,europe
611,2007.0,1.257293e+07,70.259,5186.050003,guatemala,americas
623,2007.0,9.947814e+06,56.007,942.654211,guinea,africa
635,2007.0,1.472041e+06,46.388,579.231743,guinea-bissau,africa
647,2007.0,8.502814e+06,60.916,1201.637154,haiti,americas
659,2007.0,7.483763e+06,70.198,3548.330846,honduras,americas
671,2007.0,6.980412e+06,82.208,39724.978670,"hong kong, china",asia
683,2007.0,9.956108e+06,73.338,18008.944440,hungary,europe
695,2007.0,3.019310e+05,81.757,36180.789190,iceland,europe
707,2007.0,1.110396e+09,64.698,2452.210407,india,asia
719,2007.0,2.235470e+08,70.650,3540.651564,indonesia,asia
1643,2007.0,2.608466e+07,73.747,11415.805690,venezuela,americas
731,2007.0,6.945357e+07,70.964,11605.714490,iran,asia
743,2007.0,2.749964e+07,59.545,4471.061906,iraq,asia
755,2007.0,4.109086e+06,78.885,40675.996350,ireland,europe
767,2007.0,6.426679e+06,80.745,25523.277100,israel,asia
779,2007.0,5.814773e+07,80.546,28569.719700,italy,europe
791,2007.0,2.780132e+06,72.567,7320.880262,jamaica,americas
803,2007.0,1.274680e+08,82.603,31656.068060,japan,asia
815,2007.0,6.053193e+06,72.535,4519.461171,jordan,asia
...,...,...,...,...,...,...
804,1952.0,6.079140e+05,43.158,1546.907807,jordan,asia
816,1952.0,6.464046e+06,42.270,853.540919,kenya,africa
828,1952.0,8.865488e+06,50.056,1088.277758,"korea, dem. rep.",asia
840,1952.0,2.094757e+07,47.453,1030.592226,"korea, rep.",asia
864,1952.0,1.439529e+06,55.928,4834.804067,lebanon,asia
876,1952.0,7.487470e+05,42.138,298.846212,lesotho,africa
888,1952.0,8.633080e+05,38.480,575.572996,liberia,africa
900,1952.0,1.019729e+06,42.723,2387.548060,libya,africa
912,1952.0,4.762912e+06,36.681,1443.011715,madagascar,africa
924,1952.0,2.917802e+06,36.256,369.165080,malawi,africa
936,1952.0,6.748378e+06,48.463,1831.132894,malaysia,asia
948,1952.0,3.838168e+06,33.685,452.336981,mali,africa
960,1952.0,1.022556e+06,40.543,743.115910,mauritania,africa
972,1952.0,5.165560e+05,50.986,1967.955707,mauritius,africa
984,1952.0,3.014432e+07,50.789,3478.125529,mexico,americas
996,1952.0,8.006630e+05,42.244,786.566857,mongolia,asia
1008,1952.0,4.138340e+05,59.164,2647.585601,montenegro,europe
1020,1952.0,9.939217e+06,42.873,1688.203570,morocco,africa
1032,1952.0,6.446316e+06,31.286,468.526038,mozambique,africa
1044,1952.0,2.009300e+07,36.319,331.000000,myanmar,asia
1056,1952.0,4.858310e+05,41.725,2423.780443,namibia,africa
1068,1952.0,9.182536e+06,36.157,545.865723,nepal,asia
1080,1952.0,1.038199e+07,72.130,8941.571858,netherlands,europe
1092,1952.0,1.994794e+06,69.390,10556.575660,new zealand,oceania
1104,1952.0,1.165790e+06,42.314,3112.363948,nicaragua,americas
1116,1952.0,3.379468e+06,37.444,761.879376,niger,africa
1128,1952.0,3.311910e+07,36.324,1077.281856,nigeria,africa
1140,1952.0,3.327728e+06,72.670,10095.421720,norway,europe
1152,1952.0,5.078330e+05,37.578,1828.230307,oman,asia
852,1952.0,1.600000e+05,55.565,108382.352900,kuwait,asia

### Exercise

Organize your data set by country, from ‘Afganistan’ to ‘Zimbabwe’.

## Summarize and plot

Summaries (but can’t *say* statistics…)
* Sort data
* Can make note about using numpy functions, dif between dataframe and array
Good Plots for the data/variable type



Plots 
* of subsets, 
* single variables
* pairs of variables
* Matplotlib syntax (w/ seaborn for defaults (prettier, package also good for more analysis later...))

Exploring is often iterative - summarize, plot, summarize, plot, etc. - sometimes it branches…

# Summarizing data

Remember that the `info()` method gives a few useful pieces of information, including the shape of the dataframe, the variable type of each column, and the amount of memory stored. We can see many of our changes (continent and country columns instead of region, higher number of rows, etc.) reflected in the output of the `info()` method.

In [33]:
gapminder_comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 6 columns):
year         1716 non-null float64
pop          1716 non-null float64
lifeexp      1716 non-null float64
gdppercap    1716 non-null float64
country      1716 non-null object
continent    1716 non-null object
dtypes: float64(4), object(2)
memory usage: 80.5+ KB

We also saw above that the `describe()` method will take the numeric columns and give a summary of their values. We have to remember that we changed the changed column names, and this time it shouldn't have NAs.

In [34]:
gapminder_comb[['pop', 'lifeexp', 'gdppercap']].describe()

                pop      lifeexp      gdppercap
count  1.716000e+03  1716.000000    1716.000000
mean   2.939498e+07    59.577013    7170.489352
std    1.058144e+08    12.934328    9837.440250
min    6.001100e+04    23.599000     241.165877
25%    2.735858e+06    48.275750    1177.869539
50%    6.985493e+06    60.873500    3484.113173
75%    1.929230e+07    70.961000    9279.348034
max    1.318683e+09    82.603000  113523.132900

### More summaries

What if we just want a single value, like the mean of the population? We can call mean on a single column this way:

In [35]:
gapminder_comb['pop'].mean()

29394977.25990675

What if we want to know the mean population by _continent_? Then we need to use the Pandas `groupby()` method and tell it which column we want to group by.

In [36]:
gapminder_comb[['continent', 'pop']].groupby(by='continent').mean()

                    pop
continent
africa     9.916003e+06
americas   2.356652e+07
asia       7.703872e+07
europe     1.716976e+07
oceania    8.874672e+06

What if we want to know the mean population by continent?

In [37]:
gapminder_comb[['continent', 'pop']].groupby(by='continent').median()

                  pop
continent
africa      4579311.0
americas    5769821.0
asia       14530830.5
europe      8551125.0
oceania     6403491.5

Or the number of entries (rows) per continent?

In [38]:
gapminder_comb[['continent', 'country']].groupby(by='continent').count()

           country
continent
africa         624
americas       312
asia           396
europe         360
oceania         24

Sometimes we don't want a whole data frame. Here is another way to do this that produces a series as opposed to a data frame that tells us number of entries (rows).

In [39]:
gapminder_comb[['continent', 'country']].groupby(by='continent').size()

continent
africa      624
americas    312
asia        396
europe      360
oceania      24
dtype: int64

We can also look at the mean GDP per capita of each country:

In [40]:
gapminder_comb[['country', 'gdppercap']].groupby(by='country').mean().head(12)

                gdppercap
country
afghanistan    802.674598
albania       3255.366633
algeria       4426.025973
angola        3607.100529
argentina     8955.553783
australia    19980.595634
austria      20411.916279
bahrain      18077.663945
bangladesh     817.558818
belgium      19900.758072
benin         1155.395107
bolivia       2961.228754

What if we wanted a new data frame that just contained these summaries? This could be a table in a report, for example.

In [41]:
continent_mean_pop = gapminder_comb[['continent', 'pop']].groupby(by='continent').mean()
continent_mean_pop = continent_mean_pop.rename(columns = {'pop':'meanpop'})
continent_row_ct = gapminder_comb[['continent', 'country']].groupby(by='continent').count()
continent_row_ct = continent_row_ct.rename(columns = {'country':'nrows'})
continent_median_pop = gapminder_comb[['continent', 'pop']].groupby(by='continent').median()
continent_median_pop = continent_median_pop.rename(columns = {'pop':'medianpop'})
gapminder_summs = pd.concat([continent_row_ct,continent_mean_pop,continent_median_pop], axis=1)
gapminder_summs = gapminder_summs.rename(columns = {'y':'year'})
gapminder_summs

           nrows       meanpop   medianpop
continent
africa       624  9.916003e+06   4579311.0
americas     312  2.356652e+07   5769821.0
asia         396  7.703872e+07  14530830.5
europe       360  1.716976e+07   8551125.0
oceania       24  8.874672e+06   6403491.5

## Visualization with `matplotlib`

Recall that [matplotlib](http://matplotlib.org) is Python's main visualization 
library. It provides a range of tools for constructing plots, and numerous 
high-level plotting libraries (e.g., [seaborn](http://seaborn.pydata.org)) are 
built with matplotlib in mind. When we were in the early stages of setting up 
our analysis, we loaded these libraries like so:

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

_Consider the above three commands to be essential practice for plotting (as
essential as `import pandas as pd` is for data munging)._

Now, let's turn to data visualization. In order to get a feel for the properties
of the data set we are working with, data visualization is key. While, we will
focus only on the essentials of how to properly construct plots in univariate
and bivariate settings here, it's worth noting that both matplotlib and seaborn
support a diversity of plots: [matplotlib 
gallery](http://matplotlib.org/gallery.html), [seaborn
gallery](http://seaborn.pydata.org/examples/). 

---

### Single variables

* __Histograms__ - provide a quick way of visualizing the distribution of numerical
  data, or the frequencies of observations for categorical variables.

In [ ]:
# example plot goes here

* __Boxplots__ - provide a way of comparing the summary measures (e.g., max, min,
  quartiles) across variables in a data set.

```Python
# example plot goes here
```

---

### Pairs of variables

* __Scatterplots__ - visualization of relationships across two variables...

```Python
# example plot goes here
```

* ...

```Python
# example plot goes here
```

---

### Why use `seaborn`?

As noted above, seaborn is a high-level plotting library for statistical data 
visualization. In addition to simplifying plotting, it also provides facilities 
for customizing matplotlib plots (accessible via `sns.set()`).

## Interpret plots and summaries

### Exploration is an iterative process

In this section, we've taken the raw data and worked through steps to prepare it for analysis, but we have not yet done any "data analysis".  This part of the data workflow can be thought of as "exploratory data analysis", or EDA.  Many of the steps we've shown are aimed at uncovering interesting or problematic things in the dataset that are not immediately obvious.  We want to stress that when you're doing EDA, it will not necessarily be a linear workflow like what we have shown.  When you plot or summarize your data, you may uncover new issues: we saw this when we made a mistake fixing the naming conventions for the Democratic Republic of Congo.  You might discover outliers, unusually large values, or points that don't make sense in your plots.  Clearly, the work here isn't done: you'll have to investigate these points, decide how to fix any potential problems, document the reasoning for your actions, and check that your fix actually worked.

On the other hand, plots and summaries might reveal interesting questions about your data.  You may return to the cleaning and prepping steps in order to dig deeper into these questions.  You should continuously refine your plots to give the clearest picture of your hypotheses.

### Interesting findings

This should be particular to the dataset at hand.  Need to build upon results from the previous section.